@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/* ======================================== Initialisation ======================================== */

*{
    padding: 0; 
    margin: 0; 
}

body{
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;
}


a{
    text-decoration: none;
    color : black; 
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}


/* ======================================== Nav Bar ======================================== */

.navbar{

    height: 60px;
    width: 100%;
    background-color:rgba(196, 198, 205, 0.53);
    box-shadow: -4px 6px 39px 7px rgba(0, 0, 0, 0.17);

    display: flex;
    justify-content: space-between;
}

.left{
    height: 30px; 
    width: 150px;
    margin : 5px 15px; 
}


.logo{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(82, 82, 82);
    transition: color 0.1s; 
    text-decoration: underline;
}



.center{
    height: 30px; 
    width: 300px;
    display : flex; 
    justify-content: space-around;
    margin: 15px 0;
    margin-left: 40px;
    text-decoration: underline;

}


.right{
    height: 30px; 
    width: 270px;
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    text-decoration: underline; 
}

/* ======================================== Nav Bar hover ======================================== */


.logo:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Acceuil:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Contact:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Exercices:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Mon_parcours:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Mes_projets:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}


/* ======================================== Page ======================================== */




.page{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 85vh; 
    width: 100%;
    background: url(./asset/video.mp4) no-repeat;  

}

.content{
    height: 85vh; 
    width: 70%;
}
.blanc{
    height: 85vh; 
    width: 15%;
    
}


.two_part{
    display: flex;
}


.text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80vh;
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0;
}


.lien{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80vh;
}


.exercices{
    height: 200px;
    width: 200px;
    background-image: url(./asset/Professeur.jpg); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 0 10px; 
    border-radius: 20px 0px 20px 0px;
    box-shadow: -7px -5px 46px -13px rgba(0, 0, 0, 0.84);
    transition: scale 0.5s;
}


.exercices:hover{
    scale: 1.1 1.1;
}


.projets{
    height: 200px;
    width: 200px;
    background-image: url(./asset/fusee.jpg); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 0 10px; 
    border-radius: 20px 0px 20px 0px;
    box-shadow: -7px -5px 46px -13px rgba(0, 0, 0, 0.84);
    transition: scale 0.5s ;

}

.projets:hover{
    scale: 1.1 1.1;
}

.parcours{
    height: 200px;
    width: 200px;
    background-image: url(./asset/Parcours.jpg); 
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 0 10px; 
    border-radius: 20px 0px 20px 0px;
    box-shadow: -7px -5px 46px -13px rgba(0, 0, 0, 0.84);
    transition: scale 0.5s;
}

.parcours:hover{
    scale: 1.1 1.1;
}





.text_lien{
    color: rgba(240, 248, 255, 0);
    font-weight: bold;
    transition: transform 0.5s, color 0.5s;
}

.parcours:hover .text_lien{
    color: black;
}
.projets:hover .text_lien{
    color: black;
}
.exercices:hover .text_lien{
    color: black;
}


/* ======================================== Footer ======================================== */


.footer{

    height: 50px;
    width: 100%;
    background-color:rgba(196, 198, 205, 0.53);
    box-shadow: -4px 6px 39px 7px rgba(0, 0, 0, 0.17);
    
    display: flex;
    flex-direction: column;

    font-size: 12px;
}


.contact{
    text-decoration: underline;
}

.contact:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}


.element_footer{
    margin : 15px 25px; 
}