@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');


/* ======================================== Initialisation ======================================== */

*{
    padding: 0; 
    margin: 0; 
}

body{
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;
}


a{
    text-decoration: none;
    color : black; 
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}


/* ======================================== Nav Bar ======================================== */

.navbar{

    height: 60px;
    width: 100%;
    background-color:rgba(196, 198, 205, 0.53);
    box-shadow: -4px 6px 39px 7px rgba(0, 0, 0, 0.17);

    display: flex;
    justify-content: space-between;
}

.left{
    height: 30px; 
    width: 150px;
    margin : 5px 15px; 
}


.logo{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(82, 82, 82);
    transition: color 0.1s; 
    text-decoration: underline;
}



.center{
    height: 30px; 
    width: 300px;
    display : flex; 
    justify-content: space-around;
    margin: 15px 0;
    margin-left: 40px;
    text-decoration: underline;

}


.right{
    height: 30px; 
    width: 270px;
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    text-decoration: underline; 
}

/* ======================================== Nav Bar hover ======================================== */


.logo:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Acceuil:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Contact:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Exercices:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Mon_parcours:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}

.Mes_projets:hover{
    color: rgb(183, 0, 0);
    text-shadow: 1px 1px 2px black;

}



/* ======================================== Page ======================================== */




.page{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 85vh; 
    width: 100%;
    background: url(./asset/video.mp4) no-repeat;  

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh; 
    width: 70%;
}

.blanc{
    height: 85vh; 
    width: 15%;
    
}

.contact{
    margin: 50px 0;
    font-size: 40px;
    font-weight: bold;
}

.content_element{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.trait{
    margin: 10px 0; 
    height: 1px;
    width: 200px;
    background-color: black;
}


.photo-1{
    height: 300px;
    width: 250px;
    background-image: url(./asset/Photo-CV.jpg); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    margin: 0 10px; 
    border-radius: 20px 20px 20px 20px;
    box-shadow: -7px -5px 46px -13px rgba(0, 0, 0, 0.84);

    font-size : 18px; 
    font-weight: bold;
}

.informations{
    display: flex; 
    flex-direction: column;
    justify-content: center ;
    align-items: center;

}

.text{
    text-align: center;
}